.about{
    width:100%;
    padding: 6rem 1 rem;
    background-color: 0000;
}

.card-container{
    max-width:1140px;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2,1fr);
    padding: 5%;
}

/*text of basic*/
.card-container .card{
    border: 1px solid #eee;
    color: #eeee;
}
/*size*/
.card h3{
    color:white;
    font-size:1.6rem;
}

/*text color*/
.card p{
    color:white;
}

.card{
    color: black;
    font-size: 1.1rem;
    text-align: left;
    padding: .5rem;
}
/*
.card:hover{
    background-color:bisque;
}*/

.indent{
    text-indent: 1rem;
}
