label{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    max-width: 400px;
}

form label{
    margin-bottom: .5rem;
}

button{
    display: flex;
    flex-direction: column;
    padding: .3rem;
}

.button .reg{
    display: flex;
    flex-direction: column;
    padding: .3rem;
    margin: auto;
    max-width: 400px;
}

